/*
Author: Chantel Gee
Date: 04.16.24
File Name: styles.css for Challenge 7 - Fluid layout
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #9cb6e8;
}

img {
    display: block;
    max-width: 100%;
}

/* Style rules for mobile viewport */

/* Style rule for tab-desk class */
.tab-desk {
    display:inline-block;
}

/* Style rules for header content */
header {
    text-align: center;
    color: #234b95; 
    background-color: #9cb6e8;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 3em;
    padding-top: 2%;
    font-family: 'Cookie', cursive;
}

header h3 {
    font-style: italic;
    font-size: 1.25em;
    padding-bottom: 2%;
}

/* Style rules for navigation area */
nav {
    background-color: #234b95;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    border-top: 1px solid #93dfc6;
    display: block;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav li:first-child{
    border-top: none;
}

nav li a {
    color: white;
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
}

/* Style rule for hero image */
#hero {
    clear: left;
}

/* Style rules for main content */
main {
    background-color: #e5e9fc;
    font-family: sans-serif;
    overflow: auto;
    padding: 2%;
}

main h2 {
    color: #234b95;
    font-size: 1.6em;
}

main p {
    font-size: 1.5em;
}

main ul {
    font-size: 1.2em;
    list-style-type: square;
    margin: 5% 10%;
}

 /* for contact page 
.action {}
*/

/* gives all images rounded corners */
.round {
    border-radius: 20px;
}

#pamper, #full, #basic {
    margin: 0.2%;
}

/* changes color to dark teal, makes font bigger, bolder, and serif, centers the text, and makes it uppercase */
.service h2{ 
    color: #226c7f;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* gives the images a teal border and makes the image fluid (covers the width of the screen) */
.service img{ 
    border: .25em solid #226c7f;
    width: 100%;
}

/* makes bullet points look like dogs */
.service ul{ 
    list-style-type: '🐕';
}

/* matches color of header, uses sans-serif font, adds padding for spacing between bullet point and text */
.service li{
    color: #226c7f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6em;
    padding-left: 3%;
 }

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.95em;
    clear: left;
    color: #234b95;
    font-weight: bold;
}

footer a {
    color: #234b95;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    text-decoration: none;
}