/*<!--
  Student Name: Chantel Gee
  Assignment Name: Midterm Project: Course Website (Jump page)
  Date: 04.08.2024
*/

/*the following rule */
body {
  
}

/*the following rule */
#container{
	
}

/*the following rule */
figure {
  
}

/*the following rule */
img {
  
}

/*the following rule */
header {
  
}

/*the following rule will give the navigation a dark green bordern and center everything*/
nav {
  border: 3px solid rgb(80, 93, 59);
  margin: 24px auto;
  /* padding: .5px 0; */
  /* width: 75%; */
}

/*the following rule will make the navigation background dark red and remove the list bullets*/
nav ul {
  background-color: rgb(73, 45, 4);
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

/*the following rule will contain each list item in an inline block and update the font to Gill Sans*/
nav li {
  display: inline-block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	margin: 0;
  padding: 5px 30px;
}

/*the following rule will make the items white and uppercase*/
nav a:link, a:visited{
	color: rgb(197, 23, 23);
	display: block;
	padding: 3px 3px;
	text-decoration: none;
	text-transform: uppercase;
	/* width: 100px; */
}

/*the following rule will give the link item background a pale orange with black text*/
nav a:hover{
	background-color: rgb(219, 206, 183);
  color: black;
  padding: 3px 3px;
}

/*the following rule */
main {
  
}

/*the following rule */
h2 {
  
}

/*the following rule */
p {
  
}

/*the following rule */
footer {
  
}

/*the following rule */
em {
  
}

/*the following rule */
.important {
  
}

 