/*<!--
  Student Name: Chantel Gee
		File Name: Project 2-Part 2: Website Development (CSS) 
		Date: 05.10.2024
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, section, aside, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* FONTS */
.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #2C2C2C;
}

/* website header */

footer {
  background-color: #1A4B42;
  padding: 10px 15px;
}

/* Solid border */
hr.solid {
  border: .1px solid #C9FF58;
}

button {
  background-color: #79B615;
  color: white;
  font-family: "Bakbak One", sans-serif;
  font-weight: normal;
  padding: 0 20px;
}

/* nav bar */
nav {
  background-color: #201F2C;
  position: relative;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  font-family: "Bakbak One", sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding: 35px 10px;
}

nav li a {
  display: inline-block;
  color: #C9FF58;
  padding: 0.5em 1em;
  text-decoration: none;
}

nav li a:active {
  display: inline-block;
  color: #5AFBDE;
  padding: 0.5em 1em;
  text-decoration: underline;
}

/* TEXT */

p {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.25em;
}
#aside p {
  font-size: 1em;
}

footer p {
  font-size: 1em;
}

strong {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-weight: normal;
}

h2 {
  color: #5AFBDE;
  font-family: "Bakbak One", sans-serif;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  margin: -.3em;
}

.quote {
  color: #C9FF58;
  font-weight: normal;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width:1039px), print {
  header img {
    float: left;
    padding: 20px;
    width: 160px;
  }
  
  header h1 {
    color: #C9FF58;
    font-family: "Bakbak One", sans-serif;
    font-size: 3em;
    font-weight: normal;
    padding: 45px 0;
    text-align: center;
  }
  
  header {
    background-color: #1A4B42;
    height: 30%;
  }

  main {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  #aside {
    background-color: #3F3F3F;
    padding: 24px 16px;
  }

  /* Main Content in Index Page */

  #mainContentIndex {
    color: white;
    display: grid;
    grid-template-rows: 35% 65%;
    font-family: "Barlow", sans-serif;
    padding: 10px 40px;
  }

  .articleSection {
    align-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .article {
    align-content: center;
    padding: 3%;
  }

  .articleImage {
    width: 90%;
  }

  /* Main Content in Nutrition Page */

  #mainContentNutrition {
    color: white;
    font-family: "Barlow", sans-serif;
    padding: 10px 40px;
  }

  #mainContentNutrition h2 {
    text-align: center;
  }

  #mainContentNutrition img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #mainContentNutrition li {
    color: white;
    font-family: "Barlow", sans-serif;
    padding-left: 18px;
  }
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 1039px), print {
 
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* TEXT */

p {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
}
#aside p {
  font-size: .95em;
}

footer p {
  font-size: .75em;
}

strong {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-weight: normal;
}

h2 {
  color: #5AFBDE;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  color: #79B615;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  margin: -.3em;
}

.quote {
  color: #C9FF58;
  font-size: 1.3em;
  font-weight: normal;
}

  header img {
    display: block;
    margin: auto auto;
    padding-top: 35px;
    width: 40%
  }
  
  header h1 {
    color: #C9FF58;
    font-family: "Bakbak One", sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    padding: 0 0 20px 0;
    text-align: center;
  }
  
  header {
    background-color: #1A4B42;
    display: block;
    height: 20%;
  }

  nav li {
    display: block;
    font-size: 1.2em;
    padding: 0px;
  }

  /* Main Content in Index Page */
  #mainContentIndex {
    color: white;
    display: grid;
    font-family: "Barlow", sans-serif;
    padding: 10px 40px;
  }

  .article {
    align-content: center;
  }

  .articleImage {
    width: 90%;
  }

  /* Main Content in Nutrition Page */

  #mainContentNutrition {
    color: white;
    font-family: "Barlow", sans-serif;
    padding: 10px 40px;
  }

  #mainContentNutrition h2 {
    text-align: center;
  }

  #mainContentNutrition img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }

  #mainContentNutrition li {
    color: white;
    font-family: "Barlow", sans-serif;
    padding-left: 18px;
  }

  #aside {
    background-color: #3F3F3F;
    padding: 24px 24px;
  }

}