/*<!--
  Student Name: Chantel Gee
		File Name: Project 2-Part 2: Website Development (CSS) 
		Date: 05.10.2024
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, section, aside, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* FONTS */
.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* website header */
header img {
  float: left;
}

header h1 {
  color: #C9FF58;
  font-family: "Bakbak One", sans-serif;
  font-size: 3em;
  padding: 45px 0;
  text-align: center;
}

header {
  background-color: #1A4B42;
  height: 160px;
}

/* nav bar */
nav {
  background-color: #201F2C;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  font-family: "Bakbak One", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 35px 50px;
}

nav li a {
  display: inline-block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

p {
  font-family: "Barlow", sans-serif;
}

strong {
  font-family: "Bakbak One", sans-serif;
  font-weight: normal;
}