@charset "UTF-8";
/* CSS Document */
body{
	background-image:url(images/tileable_wood_texture.png);
}
#container{
	background-color: gray;
	margin: 0 auto; /* aligns container to the center of the browser*/
	width: 1000px;
	/*padding: 10px;*/
}
header{
	background-color: teal;
	height: 100px;
	padding: 10px;
	text-align: center;
	width: 980px;
}
/******************nav starts********************/
nav ul{
	
}
nav li{
	
}
nav a:link, a:visited{
	
}
nav a:hover{
	
}
/***************************nav ends**************************************/
section{
	
}

figure{
	
}

figure img{
	
}

footer{
	
}








