@charset "UTF-8";
/* CSS Document */
body{
	background-image:url(images/tileable_wood_texture.png);
}
#container{
	background-color: gray;
	margin: 0 auto; /* aligns container to the center of the browser*/
	width: 1000px;
	/*padding: 10px;*/
}
header{
	background-color: teal;
	height: 100px;
	padding: 10px;
	text-align: center;
	width: 980px;
}
/******************nav starts********************/
nav ul{
	background-color: black;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}
nav li{
	display: inline-block;
	margin: 0;
}
nav a:link, a:visited{
	color: white;
	display: block;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 3px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px;
}
nav a:hover{
	background-color: gray;
}
/***************************nav ends**************************************/
section{
	
}

figure{
	
}

figure img{
	
}

footer{
	
}








